
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8d7f0;
    text-align: center;
    color: #4a4a4a;
    padding: 20px;
}
h2 {
    border: 2px solid #fa75b7; 
    display: inline-block;
    padding: 10px 15px; 
    border-radius: 20px; 
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fdb3e4;
}
#loginContainer {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 2px solid #333; 
    width: 400px; 
}


#questionContainer h1 {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 2px solid #333; 
    width: 400px; 
    color: #fa0789;
    font-size: 2.5rem;
    margin-bottom: 20px;
}


button {
    background-color: #ff4081;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 20px;
}

button:hover {
    background-color: #f50057;
}


#lovePage {
    display: none;
    background-color: #fff3f3;
    padding: 50px 0;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


#lovePage h1 {
    color: #ff4081;
    font-size: 3rem;
    margin-bottom: 20px;
}

#lovePage p {
    font-size: 1.5rem;
    color: #e91e63;
}


#defaultImage {
    margin-top: 15px;
    width: 300px;
    height: 300px;
    
}
iframe {
    width: 60%;  /* กำหนดความกว้างของวิดีโอเป็น 80% ของหน้าจอ */
    max-width: 560px;  /* จำกัดความกว้างสูงสุด */
    height: auto;
    aspect-ratio: 16 / 9; /* กำหนดอัตราส่วนให้เหมาะสมกับวิดีโอ */
    margin-top: 10px;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

button {
    animation: bounce 0.5s infinite;
}
